.login {
    margin-top: 218px;
    display: flex;
    width: 933px;
    margin: auto;

  &__wrapper {
    border-radius: 20px 0px 0px 20px;
    width: 489px;
    min-width: 489px;
    box-sizing: border-box;
    padding: 208px 128px 92px 92px;
    position: relative;
    background: url('../Images/Login/image_form.png') no-repeat;
    background-size: 100% 100%;

    &:before {
      content: "";
      border-radius: 20px;
      background-color: rgba(0, 117, 255, 0.85);
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      position: absolute;
    }

    &--title {
      position: relative;
      font-style: normal;
      font-weight: bold;
      font-size: 54px;
      font-family: Inter;
      line-height: 65px;
      color: #fff;
      margin-bottom: 16px;
    }

    &--subtitle {
      color: #fff;
      position: relative;
      font-style: normal;
      font-family: Inter;
      font-weight: 500;
      font-size: 16px;
      line-height: 19px;
    }
  }

  &__form{
      position: relative;
      margin-left: -56px;
      border-radius: 20px;
      padding: 98px 103px;
      background: #fff;
      width: 500px;
      min-width: 500px;
      box-sizing: border-box;

    &--title {
      font-weight: 500;
      font-family: Inter;
      font-style: normal;
      line-height: 29px;
    }
    &--subtitle {
      font-weight: 500;
      margin: 24px 0 51px 0;
      font-family: Inter;
      font-style: normal;
      line-height: 19px;
    }

    &--remember-me {
      margin: 19px 0;
    }

    &--forgot-password {
      margin: 19px 0;
    }

    &--submit-btn {
      font-family: Inter;
      margin: 43px 0 28px 0;
      font-size: 18px;
      line-height: 22px;
    }

    &--no-account {
      line-height: 20px;
    }

    &--register {
      line-height: 19px;
    }
  }
}